
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <div class="side-nav-option"><%= link_to 'All Categories', ebooks_path, class:'nav-link' %></div>
  <% @categories.each do |c| %>
    <div class="side-nav-option"><%= link_to c.name, category_path(c), class:'nav-link' %></div>
  <% end %>
</div>