.form-card {
  padding: 10px;
}

.row {
  margin: 15px 15px;
}

.card img{
  width: 50% !important;
  margin: 0 auto;
}

.basket-items {
  margin: 25px;
}

.basket-items .card {
  margin: 10px 0;
}

.categories-list .card {
  margin: 10px;
}

.action-link {
  margin: 0 5px;
}

.badge-secondary a{
  color:white;
  text-decoration: none;
}

.side-nav-option {
  margin: 5px auto;
  background-color: #343a40;
  border-radius: 3px;
  width: 100%;
}

.side-nav-option a{
  color: white;
  text-decoration: none;
}

.pagination {
  width: fit-content;
  margin: 0 auto;
}